<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/profile">My Profile</a>
    <br>
    <a href="/book_slots">Book Slots</a>
    <br>
    <a href="/view_slots">View Booked Slots</a>
    <br>
    <a href="/logout">Logout</a>

    {% if is_staff %}
    <br>
    <br>
    This section is only for staff
    <br>
    <a href="/addslot">Add slot</a>
    <br>
    <a href="/delslot">Delete slot</a>
    <br>
    <a href="/addmultiple">Add multiple slots</a>

    {% endif %}

</body>
</html>